---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Agenda";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
    <div class="hero-body">
      <p class="title">Agenda</p>
      <p class="subtitle">...</p>
    </div>
  </section>
</BaseLayout>