---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
    <div class="hero-body">
      <p class="title">Christina dnd Sean</p>
      <p class="subtitle">A little helper guide for our upcoming wedding dinner celebration.</p>
    </div>
  </section>
</BaseLayout>