---

---

<p class="title">Agenda</p>

<p>2:00 PM - Wedding Live Stream Begins</p>

<p>2:30 PM to 3:30 PM - Couples Photos Around the Wynn</p>

<p>8:00 PM - Pre-dinner Drinks and Appetizers</p>

<p>8:30 PM to 11:30 PM - Group Dinner at Smith and Wollensky's</p>