---

---

<p class="title">Menu</p>

<p class="subtitle">
  We ask that you all take a moment to select the entree that you desire and let us know ahead of time so that we can account for any dry aged steak requests
</p>

<h3>Hors d'oeuvres</h3>
<p>Sliced Dry-aged Tomahawk Steak</p>

<h3>Appetizers</h3>
<p>Angry Shrimp</p>
<p>Wollensky Salad</p>
<p>Iceberg Salad</p>

<h3>Entrees</h3>
<p>Charbroiled Filet Mignon 10 oz.</p>
<p>Chicken Roulade</p>
<p>USDA Prime New York Strip 16 oz.</p>

<h3>Sides</h3>
<p>Sauteed Asparagus</p>
<p>Whipped Potatoes</p>

<h3>Dessert</h3>
<p>Chocolate Cake</p>
