---

---

<p class="title">Menu</p>

<p class="subtitle">
  We ask that you all take a moment to select the entree that you desire and let us know ahead of time so that we can account for any dry aged steak requests
</p>

<h3>Hors d'oeuvres</h3>
<p><a class="js-modal-trigger-1" data-target="modal-1">Sliced Dry-aged Tomahawk Steak</a></p>
<div id="modal-1" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://www.smithandwollensky.com/wp-content/uploads/2022/11/swinging-tomahawk-640x800.jpg"
        alt="Sliced Dry-aged Tomahawk Steak"
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<h3>Appetizers</h3>
<p><a class="js-modal-trigger-2" data-target="modal-2">Angry Shrimp</a></p>
<div id="modal-2" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://media.lasvegassun.com/media/img/photos/2021/05/19/0515_LVW_FoodieTour03_t653.JPG?214bc4f9d9bd7c08c7d0f6599bb3328710e01e7b"
        alt="Angry Shrimp"
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<p><a class="js-modal-trigger-3" data-target="modal-3">Wollensky Salad</a></p>
<div id="modal-3" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://img.cdn4dd.com/cdn-cgi/image/fit=contain,width=1200,height=672,format=auto/https://doordash-static.s3.amazonaws.com/media/photos/faa6171d-f62c-4686-996e-29aa3a8231ff-retina-large-jpeg"
        alt="Wollensky Salad"
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<p><a class="js-modal-trigger-4" data-target="modal-4">Iceberg Salad</a></p>
<div id="modal-4" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://www.justalittlebitofbacon.com/wp-content/uploads/2018/08/classic-wedge-salad-3-1.jpg"
        alt="Iceberg Salad"
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<h3>Entrees</h3>
<p><a class="js-modal-trigger-5" data-target="modal-5">Charbroiled Filet Mignon 10 oz.</a></p>
<div id="modal-5" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://d1t295ks1d26ah.cloudfront.net/media/pictures/files/000/030/650/xlarge_desktop/Smith___Wollensky_Steakhous6.jpg"
        alt="Charbroiled Filet Mignon 10 oz."
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<p><a class="js-modal-trigger-6" data-target="modal-6">Chicken Roulade</a></p>
<div id="modal-6" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://i0.wp.com/www.wrightfamilytable.com/wp-content/uploads/2016/05/Chicken-Roulades-2-1.jpg"
        alt="Chicken Roulade"
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<p><a class="js-modal-trigger-7" data-target="modal-7">USDA Prime New York Strip 16 oz.</a></p>
<div id="modal-7" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://d1t295ks1d26ah.cloudfront.net/media/pictures/files/000/007/840/xlarge_desktop/a4.jpg"
        alt="USDA Prime New York Strip 16 oz."
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<h3>Sides</h3>
<p><a class="js-modal-trigger-8" data-target="modal-8">Sauteed Asparagus</a></p>
<div id="modal-8" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://hips.hearstapps.com/hmg-prod/images/sauteed-asparagus-recipe-2-1646405904.jpg"
        alt="Sauteed Asparagus"
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<p><a class="js-modal-trigger-9" data-target="modal-9">Whipped Potatoes</a></p>
<div id="modal-9" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://www.thedailymeal.com/img/gallery/14-steakhouse-chains-with-the-best-mashed-potatoes/intro-1712092096.jpg"
        alt="Whipped Potatoes"
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<h3>Dessert</h3>
<p><a class="js-modal-trigger-10" data-target="modal-10">Chocolate Cake</a></p>
<div id="modal-10" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img
        src="https://restaurantweeklv.org/wp-content/uploads/2023/04/Chocolate-Cake.jpg"
        alt="Chocolate Cake"
      />
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger-1') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-2') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-3') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-4') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-5') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-6') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-7') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-8') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-9') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.js-modal-trigger-10') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      if(event.key === "Escape") {
        closeAllModals();
      }
    });
  });
</script>