---

---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">Christina and Sean</a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <a class="navbar-item has-text-danger" href="/">Home</a>
    <a class="navbar-item has-text-danger" href="/agenda">Agenda</a>
    <a class="navbar-item has-text-danger" href="/logistics">Logistics</a>
  </div>
</nav>